#maintitle {
    text-align: center;
}

#playbutton {
    margin-left: auto;
    margin-right: auto;

}

#map {
    grid-column: 1;
    grid-row: 1;
    border-radius: 50px;
}

.centertext {
    text-align: center;
}

#info {
    grid-column: 2;
    grid-row: 1;
    float : right;
    background-image: url("../img/paper.jpg");
    border-radius: 50px;
}

#inventory {
    background-image: url("../img/wood.jpg");
    grid-column: 1 / span 3;
    grid-row: 2;

    border-radius: 50px;
}

.game {
    height: 700px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
}

.body {
    background-image: url("../img/map.jpg");
}

.item  {
    max-width: 50px;
    margin-left: 20px;
    display: inline;
}