#maintitle {
    text-align: center;
}

#playbutton {
    margin-left: 40%;
    margin-top: 10%;
    height: 100px;
    width: 20%;

}

#map {
    grid-column: 1;
    grid-row: 1;
    border-radius: 50px;
   /*  box-shadow: 5px 10px; */
}

.centertext {
    text-align: center;
}

#info {
    grid-column: 2;
    grid-row: 1;
    float : right;
    background-image: url("../img/paper.jpg");
    border-radius: 50px;

}

#inventory {
    background-image: url("../img/wood.jpg");
    grid-column: 1 / span 3;
    grid-row: 2;

    border-radius: 50px;

}

.game {
    background-color: rgba(0,0,0,.1);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 80%;
    width: 60%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
}

.body {
    background-image: url("../img/map.jpg");
}

.item  {
    max-width: 50px;
    margin-left: 20px;
    display: inline;
}

.whole {
    background-image: url('../img/map_2.jpg');
}

.inside  {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}

